<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jp.co.lyc.cms.mapper.EmployeeInfoMapper">
    <select id="searchMaxEmployeeID" resultType="java.lang.String">
        SELECT CONCAT('LYH', LPAD(MAX(CAST(SUBSTRING(employeeNo, 4) AS UNSIGNED)) + 1, 3, '0')) AS next_value
        FROM T001EmployeeDetail
        WHERE employeeNo LIKE 'LYH%';
    </select>
	<!-- 社員情報詳細を追加 -->
    <insert id="insertEmployeeInfo" parameterType="jp.co.lyc.cms.model.EmployeeModel">
        INSERT INTO T001EmployeeDetail (
            employeeNo,
            employeeFirstName,
            employeeLastName,
            password,
            authorityCode,
            genderStatus,
            birthday,
            japaneseCalendar,
            alphabetName,
            furigana,
            nationalityCode,
            intoCompanyYearAndMonth,
            employeeFormCode,
            retirementYearAndMonth,
            comeToJapanYearAndMonth,
            graduationUniversity,
            graduationYearAndMonth,
            residenceCode,
            companyMail,
            phoneNo,
            employmentInsuranceStatus,
            socialInsuranceStatus,
            yearsOfExperience,
            retirementResonClassificationCode,
            departmentCode,
            homesAgentCode,
            updateTime,
            createTime,
            updateUser,
            picInfo,
            employmentInsuranceNo,
            socialInsuranceNo
        ) VALUES (
            #{employeeNo},
            #{employeeFirstName},
            #{employeeLastName},
            #{password},
            #{authorityCode},
            #{genderStatus},
            #{birthday},
            #{japaneseCalendar},
            #{alphabetName},
            #{furigana},
            #{nationalityCode},
            #{intoCompanyYearAndMonth},
            #{employeeFormCode},
            #{retirementYearAndMonth},
            #{comeToJapanYearAndMonth},
            #{graduationUniversity},
            #{graduationYearAndMonth},
            #{residenceCode},
            #{companyMail},
            #{phoneNo},
            #{employmentInsuranceStatus},
            #{socialInsuranceStatus},
            #{yearsOfExperience},
            #{retirementResonClassificationCode},
            #{departmentCode},
            #{homesAgentCode},
            NOW(),
            NOW(),
            #{updateUser},
            #{picInfo},
            #{employmentInsuranceNo},
            #{socialInsuranceNo}
        )
    </insert>

	<!-- 社員情報を取得 -->
    <select id="getAllEmployees" resultType="jp.co.lyc.cms.model.EmployeeModel">
        SELECT *
        FROM T001EmployeeDetail
    </select>

    <!-- 社員情報を更新 -->
  <update id="updateEmployeeInfo" parameterType="jp.co.lyc.cms.model.EmployeeModel">
    UPDATE T001EmployeeDetail
    SET
        employeeFirstName = #{employeeFirstName},
        employeeLastName = #{employeeLastName},
        password = #{password},
        authorityCode = #{authorityCode},
        genderStatus = #{genderStatus},
        birthday = #{birthday},
        japaneseCalendar = #{japaneseCalendar},
        alphabetName = #{alphabetName},
        furigana = #{furigana},
        nationalityCode = #{nationalityCode},
        intoCompanyYearAndMonth = #{intoCompanyYearAndMonth},
        employeeFormCode = #{employeeFormCode},
        retirementYearAndMonth = #{retirementYearAndMonth},
        comeToJapanYearAndMonth = #{comeToJapanYearAndMonth},
        graduationUniversity = #{graduationUniversity},
        graduationYearAndMonth = #{graduationYearAndMonth},
        residenceCode = #{residenceCode},
        companyMail = #{companyMail},
        phoneNo = #{phoneNo},
        stationCode = #{stationCode},
        employmentInsuranceStatus = #{employmentInsuranceStatus},
        socialInsuranceStatus = #{socialInsuranceStatus},
        yearsOfExperience = #{yearsOfExperience},
        retirementResonClassificationCode = #{retirementResonClassificationCode},
        departmentCode = #{departmentCode},
        homesAgentCode = #{homesAgentCode},
        updateTime = NOW(),
        updateUser = #{updateUser},
        picInfo = #{picInfo},
        birthplace = #{birthplace},
        postalCode = #{postalCode},
        firstHalfAddress = #{firstHalfAddress},
        lastHalfAddress = #{lastHalfAddress},
        employmentInsuranceNo = #{employmentInsuranceNo},
        socialInsuranceNo = #{socialInsuranceNo}
    WHERE employeeNo = #{employeeNo}
  </update>

</mapper>
