<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jp.co.lyc.cms.mapper.SalesInfoMapper">

    <resultMap id="SalesModelResultMap" type="jp.co.lyc.cms.model.SalesModel">
        <!-- Define mapping between database columns and EmployeeModel fields -->
    </resultMap>

    <insert id="insertSalesInfo" parameterType="jp.co.lyc.cms.model.SalesModel">
        INSERT INTO T003salesInfo (contractId,
                                   customerNo,
                                   contractDate,
                                   realEstateName,
                                   realEstatePostCode,
                                   realEstateAddress,
                                   rent,
                                   realEstateManagementCompanyCode,
                                   institutionId,
                                   introducer,
                                   introducerFee,
                                   commissionAdCode,
                                   bankSales,
                                   asScheduledDate,
                                   applicationAmount,
                                   remark,
                                   employeeNo,
                                   contactInfo,
                                   currentPostal,
                                   currentAddress,
                                   visa,
                                   updateDate,
                                   createDate)
        VALUES (#{contractId},
                #{customerNo},
                #{contractDate},
                #{realEstateName},
                #{realEstatePostCode},
                #{realEstateAddress},
                #{rent},
                #{realEstateManagementCompanyCode},
                #{institutionId},
                #{introducer},
                #{introducerFee},
                #{commissionAdCode},
                #{bankSales},
                #{asScheduledDate},
                #{applicationAmount},
                #{remark},
                #{employeeNo},
                #{contactInfo},
                #{currentPostal},
                #{currentAddress},
                #{visa},
                #{updateDate},
                #{createDate});
    </insert>


    <select id="selectSalesInfo" resultType="jp.co.lyc.cms.model.SalesModel">
        SELECT *
        FROM T003salesInfo;
    </select>
    <select id="getSalesId" resultType="String">
        SELECT  LPAD(MAX(CAST(SUBSTRING(contractID, 2) AS UNSIGNED)) + 1, 6, '0') AS nextId FROM T003salesInfo
    </select>
</mapper>
